language: node_js
sudo: false
node_js:
  - '0.12'
  - '4'
  - '6'
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script: npm test
env:
  global:
    - DEBUG='* -superagent -express:* -mocha:* -babel'
    - CXX=g++-4.8

# encrpyt channel name to get around issue
# https://github.com/travis-ci/travis-ci/issues/1094
notifications:
  irc:
    channels:
      # encrpyted string was "irc.mozilla.org#taskcluster-bots"
      - secure: "K3cbtuUTxNzKVPTlWd4/LqvzC2NdbTNGKV6+/L30Suk0BbptY781Iy9RyyDglz07DgCRD83OxH47Uxo9zE48KTmL95mkJAiWB+fLSoLILLUgOq/tDtG41hQB5WMrgyoZD0FNLHzqBzdwDm4SQNcez50dLRmY88orCx9ginpYo8XxVhen3DiO136Lgoh50FeN/7wALfKJIIYZX/3h3/YoqLcwzSV0lq1zs7Ej5sF8H+5gnhETw9C0B2jWiZWCOTBBplIbOcfixv/fDXghDDKs6OSKu6n5ylES2QbJ+Wir9hAXTjSMg1vde8gd5//jJkAM2uawYOxFsqGO+LBJqS++z9SU0ccngwayFynHuFwy5lmrEZdA2Sy08sVq63qY5cDdrr+294h6H1fj2o6H5TsSMr7bmMpE5NqkksMRGlSBzoolfBE78REA/YGsJNc4Ir3zWa1ovR8/kMg23QaK57vP0JuLhLNcJYNC/spXAnlem5lzgqI0S21uh2UptuFpH7u16JnjpMM+kNX0WOddiJ73oB88FNHtumjsrhTjcLnZE/Z6zt9ZcYgm8UPgNEwMFLnTlIrrhdn7G1CZMscosM7oclWLRKdrixY/BDvxMMNSpFInLGcdS2JFDFu1iN/fpJFBr2+mcZTTDhZYq4t1D9ks4DY5xH8CH/hYxXp1MZFxSz4="
    on_success: change
    on_failure: always
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
      - "Commit message : %{commit_message}"
